:host {
  display: flex;
  flex: 1;
  align-items: center;
}

.lab-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;

  @media (width <= 768px) {
    grid-template-columns: 1fr;
  }
}
