nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  background: var(--bg);
  border-bottom: 1px solid var(--border-faint);
  z-index: 1000;

  @media (width <= 768px) {
    padding: 0 1.5rem;
  }
}

.brand-prefix {
  font-weight: var(--fw-light);
  display: inline-block;
  transform: scaleX(-1);
}

.brand-suffix {
  font-weight: var(--fw-bold);
}
